# Web Framework
fastapi==0.115.0
mangum==0.17.0
uvicorn==0.30.0

# Database & ORM
sqlalchemy==2.0.35
psycopg2-binary==2.9.9
alembic==1.13.3

# Validation & Settings
pydantic==2.9.2
pydantic-settings==2.5.2
email-validator==2.2.0
python-dotenv==1.0.1

# Security
pyjwt==2.9.0
cryptography==43.0.1
